.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
/build
/docs
/editor
/editor
/docs
/examples
/files
/manual
/src
/test
/utils
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
